* {
  margin: 0.5rem;
  font-family: 'Mukta', sans-serif;
}

header {
  padding: 2px;
}

main {
  background-image: linear-gradient(#ffe5b4, chartreuse);
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 2rem 1rem;
}
